$size-default: 8px;

$size-1: $size-default;
$size-2: $size-default * 2;
$size-3: $size-default * 3;
$size-4: $size-default * 4;
$size-5: $size-default * 5;
$size-6: $size-default * 6;
$size-7: $size-default * 7;
$size-8: $size-default * 8;
$size-9: $size-default * 9;
$size-10: $size-default * 10;
$size-11: $size-default * 11;
$size-12: $size-default * 12;
